@charset "UTF-8";

.md-navigation {
   ul{
      display: flex;
      flex-direction: row;
      padding-left: 0;
      margin: 0 auto;
      list-style: none;
      li{
        &.active{
          a{
            color: #fff;
          }
        }
        a{
          padding: .5rem;
          display: block;
          color: rgba(255,255,255,.5);
          &.dropdown-item{
            color: #000;
          }
          text-decoration: none;
          .perex{
            margin-right: .5rem;
            float: left;
          }

          
        }
      }
      a.dropdown-item{
        color: #000;
      }
   }
   
}