@charset "UTF-8";

.breadcrumb {
    *zoom: 1;
    list-style: none;
    padding: 0 0 20px;
    margin: 0;
    color: #999;
    a {
        text-decoration: none;
        display: inline-block;
        padding-right: 5px;
        color: #666;
        padding: 0;
        &:hover {
            color: #ea650d;
        }
        &:last-child,
        &:last-of-type {
            color: #999;
        }
    }
}