# Ignore Gradle project-specific cache directory
.gradle
.settings/org.eclipse.buildship.core.prefs
.idea

#temp bordel
**/.DS_Store

# Ignore Gradle build output directory
build
bin/

#WebJET imgcache a tmp adresar
**/WEB-INF/imgcache
**/WEB-INF/tmp

#node_modules nepotrebujeme
node_modules/

#lokalne JSP subory
localconf.jsp
scratchpad.jsp

#log files
.log
