@charset "UTF-8";

.page {
    min-height: 50vh;
}

// a[href="#"]::after {
//     content: "!";
//     animation-duration: 200ms;
//     animation-name: blink;
//     animation-iteration-count: infinite;
//     animation-direction: alternate;
//     color:green;
// }
//  @keyframes blink {
//     from {
//        opacity: 1;
//     }
//     to {
//        opacity: 0;
//     }
// }

h2.colored {
    &:hover {
        > a {
           > span {
                color: #e64415 !important;
           }
        }
    }
}

.sitemap {
    .u-hidden {
        display: inline-block!important;
    }
}

.c-link--bold,
.c-link--highlight,
.c-link-highlight,
.c-link,
.c-notification-list__item__heading__actions__link__text {
    &:before {
        transition: left 0.2s ease-in-out;
    }
    &:hover {
        &:before {
            left: -2px;
        }
    }
}


.masthead-wrapper--image {
    background-color: #f1edeb;
}

.c-main-navigation.submenu-overlay {
    height: 0;
    width: 0;
    &.is-active {
        height: 100vh;
        width: 100vw;
    }
}

.c-main-navigation__main .c-main-navigation__logo img {
    width: auto;
    min-width: auto;
}

.c-main-navigation .c-main-navigation__portal-menu li.open > a  {
    color: #ea650d;
}

.c-main-navigation .c-main-navigation__menu ul {

    li.open > a  {
        color: #ea650d;
    }

    li.c-main-navigation__expanded > ul {
        opacity: 1 !important;
        visibility: visible !important;
    }
    
    > li > ul {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        align-items: flex-start;
        white-space: nowrap;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        position: absolute;
        background-color: #fff;
        border: 1px solid #e5ded9;
        border-top: none;
        margin: 31px -28px 0;
        padding: 15px 35px 0 25px;
        width: auto;
        visibility: hidden;
        opacity: 0;
        z-index: 1000;
        height: auto;

        li {

            display: inline-block;
            position: relative;
            padding: 0;
            margin: 0;

            a {
                display: inline-block;
                position: relative;
                padding: 0 0 0 1.5em;
                color: #414141;
                text-decoration: none;
                font-weight: 700;
                -webkit-font-smoothing: antialiased;
                font-weight: 400;
                margin: 0 0 15px;

                &:before {
                    position: absolute;
                    top: -.1em;
                    left: -8px;
                    font-size: 1.5em;
                    line-height: 1;
                    font-family: nn-iconfont;
                    content: ">";
                    color: #ea650d;
                    font-weight: 400;
                }

                &:hover {
                    color: #ea650d;
                }
            }
        }
    }
}